:host{
    display: grid;
}

.App{
    max-width: 100%;
    
}

.App__header{
    display: grid;
    top: 0;
    height: 10%;
    background: var(--bg-top-bottom);
    box-shadow: 0 3px 6px 0 rgba(175, 175, 175, 0.719);
}

.App__content{
    display: grid;
    padding: 1em;
}

.App__content_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 1%;
    max-width: 90%;
    height: 61px;
    box-shadow: 0 2px 3px 0 #c9c9c9b7;
    transition: 0.2s;
}

.App__content_card:hover{
    box-shadow: 0 4px 6px 0 #aaaaaad5;
    transition: 0.2s;
}

.App__footer{
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height: 10%;
    background: var(--bg-top-bottom); 
    box-shadow: 3px 0 4px 2px rgba(175, 175, 175, 0.719);
}

